# *Import Packages and Libraries*

In [1]:
# Installing the "pandas datareader" package
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\prave\anaconda3\envs\tensorflow3.9.5\lib\site-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in c:\users\prave\anaconda3\envs\tensorflow3.9.5\lib\site-packages (from pandas-datareader) (1.4.4)
Requirement already satisfied: requests>=2.19.0 in c:\users\prave\anaconda3\envs\tensorflow3.9.5\lib\site-packages (from pandas-datareader) (2.31.0)
Requirement already satisfied: lxml in c:\users\prave\anaconda3\envs\tensorflow3.9.5\lib\site-packages (from pandas-datareader) (5.1.0)
Requirement already satisfied: numpy>=1.18.5 in c:\users\prave\anaconda3\envs\tensorflow3.9.5\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\prave\anaconda3\envs\tensorflow3.9.5\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\prave\anaconda3\envs\tensorflow3.9.5\lib\site-packages (from pandas>=0.23->pandas-datareader) (2024.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\prave\anaconda3\envs\tensorflow3.9.5\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\prave\anaconda3\envs\tensorflow3.9.5\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\prave\appdata\roaming\python\python39\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\prave\anaconda3\envs\tensorflow3.9.5\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.14)
Requirement already satisfied: six>=1.5 in c:\users\prave\anaconda3\envs\tensorflow3.9.5\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)

In [2]:
# Imported various Python libraries for working with data, financial data retrieval, visualization, and machine learning.

import pandas as pd
import numpy as np
import pandas_datareader as pdr
from datetime import datetime
import yfinance as yf

# For time stamps
from datetime import datetime

import matplotlib.dates as mdates
import matplotlib.pyplot as plt
from matplotlib.cbook import boxplot_stats

import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline

from sklearn.preprocessing import MinMaxScaler

from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

C:\Users\prave\anaconda3\envs\tensorflow3.9.5\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\prave\anaconda3\envs\tensorflow3.9.5\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\prave\anaconda3\envs\tensorflow3.9.5\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

# *Extracting Data from yfinance*

### *Assigning Start and End date to variables for extracting data*

In [3]:
# Assign the date '01/04/2018' to the variable 'start' with datetime format
start = datetime.strptime('01/03/2018 00:00:00', '%d/%m/%Y %H:%M:%S')

# Display the value of 'start'
print(start)

2018-03-01 00:00:00

In [4]:
# Assign the date '01/04/2023' to the variable 'end' with datetime format
end = datetime.strptime('01/03/2024 00:00:00', '%d/%m/%Y %H:%M:%S')

# Display the value of 'end'
print(end)

2024-03-01 00:00:00

## *Company: HCL Technologies Ltd.*
## *Industry: Information Technology Consulting Outsourcing*

In [5]:
hcltech = yf.download("HCLTECH.NS", start, end)
hcltech

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-03-01,471.899994,476.225006,469.000000,471.399994,403.986603,2772230
2018-03-05,471.399994,472.325012,458.899994,466.049988,399.401703,3747704
2018-03-06,469.000000,476.500000,463.250000,466.399994,399.701508,2929756
2018-03-07,469.000000,476.399994,466.899994,474.774994,406.878906,5695220
2018-03-08,476.500000,482.000000,472.774994,475.325012,407.350250,4238350
...,...,...,...,...,...,...
2024-02-23,1697.000000,1697.349976,1663.449951,1665.750000,1665.750000,2191549
2024-02-26,1665.750000,1668.849976,1639.500000,1649.800049,1649.800049,1844253
2024-02-27,1649.000000,1673.400024,1648.000000,1658.800049,1658.800049,2049420
2024-02-28,1664.699951,1672.000000,1644.199951,1651.900024,1651.900024,936575
2024-02-29,1642.150024,1677.750000,1636.650024,1663.849976,1663.849976,3532888

In [6]:
# Exporting csv for reference
#hcltech.to_csv("hcltech_file.csv", index = True)

# Importing DataFrame
#hcltech = pd.read_csv('/kaggle/input/hcltech/hcltech_file.csv')

# Set the 'Date' column as the index
#hcltech.set_index('Date', inplace=True)

# Printing the DataFrame
#print(hcltech)

## *Company: Sun Pharmaceutical Industries Ltd.*
## *Industry: Pharmaceutical*

In [7]:
sunpharma = yf.download("SUNPHARMA.NS", start, end)
sunpharma

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-03-01,537.950012,541.500000,533.250000,535.400024,505.355682,4264631
2018-03-05,535.099976,552.700012,527.049988,548.549988,517.767822,7343286
2018-03-06,561.000000,563.000000,530.000000,531.750000,501.910553,9825945
2018-03-07,532.000000,534.150024,520.099976,524.849976,495.397675,6282066
2018-03-08,529.700012,530.500000,509.500000,514.599976,485.722931,9316674
...,...,...,...,...,...,...
2024-02-23,1558.000000,1568.449951,1550.400024,1561.250000,1561.250000,1340283
2024-02-26,1562.000000,1566.900024,1548.699951,1556.949951,1556.949951,974892
2024-02-27,1556.750000,1585.449951,1549.050049,1582.750000,1582.750000,2140963
2024-02-28,1586.500000,1587.449951,1562.650024,1573.849976,1573.849976,578316
2024-02-29,1575.000000,1587.800049,1556.500000,1577.949951,1577.949951,2350244

In [8]:
# Exporting csv for reference
#sunpharma.to_csv("sunpharma_file.csv", index = True)

# Importing DataFrame
#sunpharma = pd.read_csv('/kaggle/input/sunpharma/sunpharma_file.csv')

# Set the 'Date' column as the index
#sunpharma.set_index('Date', inplace=True)

# Printing the DataFrame
#print(sunpharma)

## *Company: HDFC Bank Ltd.*
## *Industry: Financial Services*

In [9]:
hdfcbank = yf.download("HDFCBANK.NS", start, end)
hdfcbank

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-03-01,939.650024,946.650024,934.000000,937.174988,898.568359,1954920
2018-03-05,937.075012,939.000000,929.125000,934.974976,896.458923,1890732
2018-03-06,935.000000,939.950012,919.750000,923.125000,885.097168,2288414
2018-03-07,920.000000,926.700012,914.250000,916.299988,878.553284,2814082
2018-03-08,919.900024,929.250000,916.000000,926.424988,888.261230,2759362
...,...,...,...,...,...,...
2024-02-23,1422.550049,1433.900024,1418.000000,1420.599976,1420.599976,14916726
2024-02-26,1413.550049,1434.849976,1413.550049,1422.300049,1422.300049,11753435
2024-02-27,1413.550049,1426.699951,1413.050049,1420.150024,1420.150024,16043575
2024-02-28,1420.150024,1424.199951,1404.000000,1409.400024,1409.400024,12660993
2024-02-29,1402.099976,1410.400024,1397.300049,1403.400024,1403.400024,26647850

In [10]:
# Exporting csv for reference
#hdfcbank.to_csv("hdfcbank_file.csv", index = True)

# Importing DataFrame
#hdfcbank = pd.read_csv('/kaggle/input/hdfcbank/hdfcbank_file.csv')

# Set the 'Date' column as the index
#hdfcbank.set_index('Date', inplace=True)

# Printing the DataFrame
#print(hdfcbank)

## *Company: DLF Ltd.*
## *Industry: Real Estate Development*

In [11]:
dlf = yf.download("DLF.NS", start, end)
dlf

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-03-01,225.550003,228.250000,223.149994,224.300003,212.629013,3581145
2018-03-05,221.300003,223.949997,219.699997,222.899994,211.301834,3539064
2018-03-06,224.399994,226.649994,214.050003,216.550003,205.282272,6144090
2018-03-07,215.000000,217.750000,212.199997,215.449997,204.239502,5878878
2018-03-08,216.550003,219.649994,209.750000,218.399994,207.035995,6237904
...,...,...,...,...,...,...
2024-02-23,898.000000,905.000000,892.349976,899.250000,899.250000,3438995
2024-02-26,898.000000,910.250000,887.700012,902.900024,902.900024,4080998
2024-02-27,905.000000,918.200012,902.900024,916.400024,916.400024,3614155
2024-02-28,914.200012,919.950012,893.599976,899.000000,899.000000,3541248
2024-02-29,898.000000,911.950012,881.650024,901.200012,901.200012,19571487

In [12]:
# Exporting csv for reference
#dlf.to_csv("dlf_file.csv", index = True)


# Importing DataFrame
#dlf = pd.read_csv('/kaggle/input/dlf-df/dlf_file.csv')

# Set the 'Date' column as the index
#dlf.set_index('Date', inplace=True)

# Printing the DataFrame
#print(dlf)

## *Index: NIFTY50*

In [13]:
nifty50 = yf.download("^NSEI", start, end)
nifty50

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-03-01,10479.950195,10525.500000,10447.150391,10458.349609,10458.349609,176000
2018-03-05,10428.299805,10428.700195,10323.900391,10358.849609,10358.849609,194000
2018-03-06,10420.500000,10441.349609,10215.900391,10249.250000,10249.250000,222900
2018-03-07,10232.950195,10243.349609,10141.549805,10154.200195,10154.200195,249500
2018-03-08,10216.250000,10270.349609,10146.400391,10242.650391,10242.650391,226400
...,...,...,...,...,...,...
2024-02-23,22290.000000,22297.500000,22186.099609,22212.699219,22212.699219,226000
2024-02-26,22169.199219,22202.150391,22075.150391,22122.050781,22122.050781,207800
2024-02-27,22090.199219,22218.250000,22085.650391,22198.349609,22198.349609,252200
2024-02-28,22214.099609,22229.150391,21915.849609,21951.150391,21951.150391,203000
2024-02-29,21935.199219,22060.550781,21860.650391,21982.800781,21982.800781,360200

In [14]:
# Exporting csv for reference
#nifty50.to_csv("nifty50_file.csv", index = True)

# Importing DataFrame
#nifty50 = pd.read_csv('/kaggle/input/nifty50/nifty50_file.csv')

# Set the 'Date' column as the index
#nifty50.set_index('Date', inplace=True)

# Printing the DataFrame
#print(nifty50)

# *Creating the Dataset*

**Created the dataset of all above mentioned companies and index together**

* HCL Tech
* Sunpharma
* HDFC Bank
* DLF
* Nifty50

In [15]:
# Converting all individual Company details dataset into DataFrames
hcltech = pd.DataFrame(hcltech)
sunpharma = pd.DataFrame(sunpharma)
hdfcbank = pd.DataFrame(hdfcbank)
dlf = pd.DataFrame(dlf)
nifty50 = pd.DataFrame(nifty50)

In [16]:
# Add a new column to each DataFrame to store the table names
hcltech['Company/Index Name'] = 'HCL Technologies Ltd.'
sunpharma['Company/Index Name'] = 'Sun Pharmaceutical Industries Ltd.'
hdfcbank['Company/Index Name'] = 'HDFC Bank Ltd.'
dlf['Company/Index Name'] = 'DLF Ltd.'
nifty50['Company/Index Name'] = 'NIFTY50'

In [17]:
# Concatenating the Datasets
df = pd.concat([hcltech, sunpharma, hdfcbank, dlf, nifty50])
df

,Open,High,Low,Close,Adj Close,Volume,Company/Index Name
Date,,,,,,,
2018-03-01,471.899994,476.225006,469.000000,471.399994,403.986603,2772230,HCL Technologies Ltd.
2018-03-05,471.399994,472.325012,458.899994,466.049988,399.401703,3747704,HCL Technologies Ltd.
2018-03-06,469.000000,476.500000,463.250000,466.399994,399.701508,2929756,HCL Technologies Ltd.
2018-03-07,469.000000,476.399994,466.899994,474.774994,406.878906,5695220,HCL Technologies Ltd.
2018-03-08,476.500000,482.000000,472.774994,475.325012,407.350250,4238350,HCL Technologies Ltd.
...,...,...,...,...,...,...,...
2024-02-23,22290.000000,22297.500000,22186.099609,22212.699219,22212.699219,226000,NIFTY50
2024-02-26,22169.199219,22202.150391,22075.150391,22122.050781,22122.050781,207800,NIFTY50
2024-02-27,22090.199219,22218.250000,22085.650391,22198.349609,22198.349609,252200,NIFTY50
2024-02-28,22214.099609,22229.150391,21915.849609,21951.150391,21951.150391,203000,NIFTY50
2024-02-29,21935.199219,22060.550781,21860.650391,21982.800781,21982.800781,360200,NIFTY50

In [18]:
# Exporting csv for reference
#df.to_csv("stock_analysis_df.csv", index = True)

# Check Data

In [19]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,Company/Index Name
Date,,,,,,,
2018-03-01,471.899994,476.225006,469.000000,471.399994,403.986603,2772230,HCL Technologies Ltd.
2018-03-05,471.399994,472.325012,458.899994,466.049988,399.401703,3747704,HCL Technologies Ltd.
2018-03-06,469.000000,476.500000,463.250000,466.399994,399.701508,2929756,HCL Technologies Ltd.
2018-03-07,469.000000,476.399994,466.899994,474.774994,406.878906,5695220,HCL Technologies Ltd.
2018-03-08,476.500000,482.000000,472.774994,475.325012,407.350250,4238350,HCL Technologies Ltd.

In [20]:
# Fetching the structure of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7407 entries, 2018-03-01 to 2024-02-29
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Open                7407 non-null   float64
 1   High                7407 non-null   float64
 2   Low                 7407 non-null   float64
 3   Close               7407 non-null   float64
 4   Adj Close           7407 non-null   float64
 5   Volume              7407 non-null   int64
 6   Company/Index Name  7407 non-null   object
dtypes: float64(5), int64(1), object(1)
memory usage: 462.9+ KB

In [ ]:
# Check Descriptive Analysis
df.describe()

**From the descriptive analysis, its inferred that the data is not normally distributed.**

# *Data Cleaning & Pre-processing*

In [ ]:
# Missing Value Treatment

df.isna().sum()

## Inference:
**In this data, we are considering only the working days of the Stock Market hence the data doesn't include Holidays.**

**Missing values not found for any other column**

## *Normalising the data*

Usually, we do outlier treatment first and then normalization. But in case of Stock Market data etc, normalization is done before outlier treatment for the following reasons:

* to preserve the data relationship - In stock market data, the relative movements and relationships between different stock prices and financial indicators are often more important than the absolute values.
* applying outlier treatment on normalized data ensures that each feature is treated equally and consistently. Outliers can have a disproportionate impact on unscaled data, potentially leading to biased outlier detection and treatment. This becomes relevant if we are doing Principal Component Analysis.

**Creating function "normalize_dataset(df)" is designed to normalize the numerical columns of a given DataFrame using the Min-Max scaling technique**

**Breakdown:**
1. Input Parameter:
df: This is the DataFrame that you want to normalize.
2. Selecting Numerical Columns:
The function first identifies the numerical columns within the DataFrame. It does this by using the select_dtypes method with the argument include=[float, int]. This filters and selects only the columns with data types of float and int, which are typically the data types for numerical values.
3. Normalization with Min-Max Scaler:
It then initializes a Min-Max scaler object using scaler = MinMaxScaler(). The Min-Max scaler is a method used to transform numerical data into a specific range, often between 0 and 1.
Next, it applies the Min-Max scaling transformation to the selected numerical columns using df[numerical_columns] = scaler.fit_transform(df[numerical_columns]). This step scales each numerical column independently, so that the minimum value in each column becomes 0, the maximum becomes 1, and all other values are scaled proportionally within this range.
4. Return the Normalized Dataset:
Finally, the function returns the original DataFrame df, but with the numerical columns normalized.

In [ ]:
def normalize_dataset(data):
    """
Normalize the numerical columns of a given DataFrame using the Min-Max scaling technique.

Parameters:
----------
data : pandas.DataFrame
    The DataFrame containing the data to be normalized.

Returns:
-------
pandas.DataFrame
    A new DataFrame with the same structure as the input 'data', but with the
    numerical columns scaled to the range [0, 1] using Min-Max scaling.

Usage:
------
# Example usage:
    normalized_data = normalize_dataset(df)
    """
    # Create a new DataFrame to store normalized values
    normalized_data = data.copy()
    
    # Select only numerical columns
    numerical_columns = normalized_data.select_dtypes(include=[float, int]).columns
    
    # Normalize numerical columns using Min-Max scaler
    scaler = MinMaxScaler()
    normalized_data[numerical_columns] = scaler.fit_transform(normalized_data[numerical_columns])
    
    # Return the normalized dataset
    return normalized_data

# Calling the Function
normalized_data = normalize_dataset(df)

In [ ]:
normalized_data.head()

**In summary, this function takes a DataFrame, identifies the numerical columns, scales the values within those columns to a specified range (typically 0 to 1), and returns the DataFrame with the normalized numerical values. This is useful for ensuring that numerical features are on a similar scale, which can be important for certain machine learning algorithms and data analysis techniques.**

## *Outlier Treatment*             


**This function named mark_outliers_zscore is intended for identifying outliers in a dataset based on the z-score method.** 

**Breakdown:**
1. Input Parameters:
* data: This parameter represents the dataset or DataFrame in which you want to identify outliers.
* column_name: It specifies the name of the column within the dataset where you want to detect outliers.
* threshold: This is an optional parameter with a default value of 3.0. It determines the threshold beyond which data points are considered outliers based on their z-scores.
2. Calculating Z-Scores:
The function calculates the z-scores for the specified column. Z-scores measure how many standard deviations a data point is away from the mean of the column. The formula used is: (x - mean) / standard deviation, where x is each data point in the specified column.
3. Creating an 'Outlier' Column:
It creates a new column named 'Outlier' in the input dataset data.
4. Identifying Outliers:
For each data point in the specified column, it compares the absolute value of its z-score to the provided threshold. If the absolute z-score is greater than the threshold, it is considered an outlier. Otherwise, it's not considered an outlier.
5. Printing Unique Outlier Values:
The function then prints the unique values found in the 'Outlier' column. This will typically show True for data points that are outliers according to the specified threshold and False for non-outliers.

In [ ]:
# Create a function to identify Outliers
def mark_outliers_zscore(data, column_name, threshold=3.0):
    """
Detects and treats outliers in data using z score.

Parameters:
-----------
    data: A list or NumPy array of data.
    cutoff: The cutoff value for z scores. Any data point with a z score greater than
    cutoff or less than -cutoff is considered an outlier.
    
Returns:
--------
    A list or NumPy array of the data with outliers removed.
    
Usage:
------
    df_open = mark_outliers_zscore(normalized_data, 'Open')
    """
    # Create a new DataFrame to store normalized values
    outlier_data = data.copy()
    
    # Calculate the z-scores for the specified column
    z_scores = (outlier_data[column_name] - outlier_data[column_name].mean()) / outlier_data[column_name].std()

    # Create a new 'Outlier' column based on the z-scores
    outlier_data['Outlier'] = abs(z_scores) > threshold

    # Return the outlier dataset
    return outlier_data

**In summary, this function calculates z-scores for a given column in the dataset and marks data points as outliers if their z-scores exceed a certain threshold. The result is a new column in the dataset ('Outlier') that indicates whether each data point in the specified column is an outlier or not, and it prints the unique values in this 'Outlier' column, which will typically be True or False.**

In [ ]:
# Call the function to mark outliers using z-score for the 'Open' column
stock_analysis_df_open = mark_outliers_zscore(normalized_data, 'Open')
stock_analysis_df_open['Outlier'].unique()

In [ ]:
# Call the function to mark outliers using z-score for the 'High' column
stock_analysis_df_high = mark_outliers_zscore(normalized_data, 'High')
stock_analysis_df_high['Outlier'].unique()

In [ ]:
# Call the function to mark outliers using z-score for the 'Low' column
stock_analysis_df_low = mark_outliers_zscore(normalized_data, 'Low')
stock_analysis_df_low['Outlier'].unique()

In [ ]:
# Call the function to mark outliers using z-score for the 'Close' column
stock_analysis_df_close = mark_outliers_zscore(normalized_data, 'Close')
stock_analysis_df_close['Outlier'].unique()

In [ ]:
# Call the function to mark outliers using z-score for the 'Adj Close' column
stock_analysis_df_adjclose = mark_outliers_zscore(normalized_data, 'Adj Close')
stock_analysis_df_adjclose['Outlier'].unique()

In [ ]:
# Call the function to mark outliers using z-score for the 'Volume' column
stock_analysis_df_volume = mark_outliers_zscore(normalized_data, 'Volume')
stock_analysis_df_volume['Outlier'].unique()

**The output indicates that there are outliers present in the 'Volume' column**

**Fetching the records with 'Outlier' = 'True'**

In [ ]:
# Print rows where the 'Outlier' column is True
outliers_true = stock_analysis_df_volume[stock_analysis_df_volume['Outlier'] == True]
outliers_true

In [ ]:
# Fetching the company names with outliers present

outliers_true['Company/Index Name'].unique()

### Inference:
**As the data points in this dataset are actual values of stocks fetched from yfinance, we will not be treating the outlier values occuring in the 'Volume' column.**

**Would outlier treatment be of any significance in case of stock market data?**

* Outlier identification and treatment can be of significant importance when working with stock market data, but the approach to handling outliers in this context can be complex.
* Outliers in stock market data might represent errors, glitches, or data inaccuracies.It could be indicative of significant events, such as earnings releases, news announcements, market crashes, or other market-moving events. Identifying and understanding these outliers can provide valuable insights into market dynamics and investor behaviour.

# 1. *What was the change in price of the stock overtime?*

## *Adjusted Closing Price*


The Adjusted Closing Price amends a stock's closing price to reflect that stock's value after accounting for any corporate actions. It is often used when examining historical returns or doing a detailed analysis of past performance.

In [ ]:
tech_list = ['hcltech', 'sunpharma', 'hdfcbank', 'dlf', 'nifty50']
company_list = [hcltech, sunpharma, hdfcbank, dlf, nifty50]
company_name = ['hcltech', 'sunpharma', 'hdfcbank', 'dlf', 'nifty50']

In [ ]:
# Let's see a historical view of the adjusted closing price

plt.figure(figsize=(15, 25))
plt.subplots_adjust(top=1.25, bottom=1.2)

for i, company in enumerate(company_list, 1):
    plt.subplot(5, 1, i)
    company['Adj Close'].plot()
    plt.ylabel('Adj Close')
    plt.xlabel(None)
    plt.title(f"Adjusted Closing Price of {tech_list[i - 1]}")

plt.savefig('Addj closing price.png')
    
plt.tight_layout()

**Observation : Adjusted closing price of all companies has shown downward trend during the time of COVID-19 Pandemic.**

**- HCL TECH : There was normal upside movement uptill 2020 but after COVID downfall share price got doubled within a year having 800 as multiple resistance and support level.**

**- Sunpharma : Due to FDA license disapproval stock price was down by 35% in the last quarter of 2018, it did not perform well after that as well and slumped down more in the beginning of COVID, but due to boom in Pharmaceutical industry during pandemic, the share recovered its ATH price in 2021 beginning and has grown continously afer that.**

**- HDFC Bank : Share was performing very well before COVID, during pandemic it went down to 750 but recovered fast within 6 months and touched level of 1500 within a year and is prevailing in 1500-1600 since then.**

**- DLF : It was showing a sign of good growth before COVID but pandemic proved to be a bane in its story. It took almost a year for the stock to recover but after that it has shown an exponential growth.**

**- NIFTY 50 : Index being a result a top 50 companies was growing continously but COVID hit hard and resulted in a fall of 40%, this shows average decline in values of top performing companies but the recovery was quick and it has reached to ATH levels growing continously.**

### *Calculating the Year-on-Year change in the Adjusted Closing Price of each Company/Index*

In [ ]:
import datetime

# List of years
years = [2018,2019,2020, 2021, 2022, 2023]

# Check the day of the week for March 31st in each year
for year in years:
    date = datetime.date(year, 3, 31)
    day_of_week = date.strftime('%A')  # Get the full day name
    print(f"March 31, {year} falls on a {day_of_week}.")

### ***Fetching data (including year 2018 closing) for year-on-year calculation***

In [ ]:
from datetime import datetime

start18 = datetime.strptime('28/03/2018', '%d/%m/%Y')
# Display the value of 'start'
print(start18)

end18 = datetime.strptime('01/04/2023', '%d/%m/%Y')
# Display the value of 'start'
print(end18)

In [ ]:
hcltech_2018 = yf.download("HCLTECH.NS", start18, end18)
hcltech_2018

In [ ]:
sunpharma_2018 = yf.download("SUNPHARMA.NS", start18, end18)
sunpharma_2018

In [ ]:
hdfcbank_2018 = yf.download("HDFCBANK.NS", start18, end18)
hdfcbank_2018

In [ ]:
dlf_2018 = yf.download("DLF.NS", start18, end18)
dlf_2018

In [ ]:
nifty50_2018 = yf.download("^NSEI", start18, end18)
nifty50_2018

In [ ]:
# Add a new column to each DataFrame to store the table names
hcltech_2018['Company/Index Name'] = 'HCL Technologies Ltd.'
sunpharma_2018['Company/Index Name'] = 'Sun Pharmaceutical Industries Ltd.'
hdfcbank_2018['Company/Index Name'] = 'HDFC Bank Ltd.'
dlf_2018['Company/Index Name'] = 'DLF Ltd.'
nifty50_2018['Company/Index Name'] = 'NIFTY50'

In [ ]:
# Reset index and create a new column for dates
hcltech_reset = hcltech_2018.reset_index()
#hcltech_reset['DateColumn'] = hcltech_reset['Date']

sunpharma_reset = sunpharma_2018.reset_index()
#sunpharma_reset['DateColumn'] = sunpharma_reset['Date']

hdfcbank_reset = hdfcbank_2018.reset_index()
#hdfcbank_reset['DateColumn'] = hdfcbank_reset['Date']

dlf_reset = dlf_2018.reset_index()
#dlf_reset['DateColumn'] = dlf_reset['Date']

nifty50_reset = nifty50_2018.reset_index()
#nifty50_reset['DateColumn'] = nifty50_reset['Date']

In [ ]:
# Concatenating all individual company datasets into one DataFrame
df_yoy = pd.concat([hcltech_reset, sunpharma_reset, hdfcbank_reset, dlf_reset, nifty50_reset])
df_yoy

In [ ]:
# Year end dates (based on the last working days)
dates_to_filter = ["2018-03-28", "2019-03-28", "2020-03-31", "2021-03-31", "2022-03-31", "2023-03-31"]

# Fetching the records for the year end dates
f_rows = df_yoy[df_yoy['Date'].isin(dates_to_filter)]
f_rows

In [ ]:
# Changing column names
date_yoy = f_rows['Date']
company_yoy = f_rows['Company/Index Name']
adjclose_yoy = f_rows['Adj Close']

In [ ]:
# Creating dataframe with only relevant columns for ease of analysis
pd_yoy = pd.DataFrame({'Date': date_yoy, 'Company': company_yoy,'Adj Close': adjclose_yoy})
pd_yoy

In [ ]:
# Extract the year from the 'Date' column and create a new 'Year' column
pd_yoy['Date'] = pd.to_datetime(pd_yoy['Date'])
pd_yoy['Year'] = pd_yoy['Date'].dt.year

# Sort the DataFrame by 'Company', 'Year', and 'Date'
pd_yoy.sort_values(by=['Year', 'Date'], inplace=True) #'Company', 

# Calculate the year-on-year change for the 'Adj Close' column
pd_yoy['Yearly Change'] = (pd_yoy.groupby('Company')['Adj Close'].pct_change() * 100).round(2)

# Sort the DataFrame by 'Company' and 'Date'
pd_yoy.sort_values(by=['Company', 'Date'], inplace=True)

# Create a pivot table
pivot_table = pd_yoy.pivot(index='Company', columns='Year', values='Yearly Change')
formatted_yoy_df = pivot_table.applymap(lambda x: f'{x:.2f}%')
formatted_yoy_df = formatted_yoy_df.drop(columns = 2018)

formatted_yoy_df

**Inference:**

**During the period 2019 to 2020 (2019-2020):**
DLF Ltd, Sun Pharmaceutical Industries Ltd, HCL Technologies Ltd. and HDFC Bank
Ltd. experienced significant decreases in their adjusted closing prices

The NIFTY50 index, which represents the broader market, had a negative return of -
25.69% during this period, indicating a general market downturn.


**During the period 2020 to 2021 (2020-2021):**
In 2021, there was a significant recovery in stock prices.
DLF Ltd, Sun Pharmaceutical Industries Ltd, HCL Technologies Ltd. and HDFC Bank
showed strong positive returns

The NIFTY50 index rebounded with a positive return of 70.87%, reflecting a broader
market recovery.


**During the period 2021 to 2022 (2021-2022):**
Most of the stocks continued to perform well in 2022.

* DLF Ltd. and Sun Pharmaceutical Industries Ltd. showed positive returns of 33.40% and 54.63%, respectively.
* HCL Technologies Ltd. and HDFC Bank Ltd. also had positive returns, although more modest, with HCL Technologies Ltd. gaining 22.45% and HDFC Bank Ltd. gaining 1.13%.
* The NIFTY50 index had a positive return of 18.88%, indicating overall market growth.


**During the period 2022 to 2023 (2022-2023):**
In 2023, most stocks experienced a mixed performance. 
* DLF Ltd. had a negative return of -5.50%, indicating a decline in its adjusted closing price.
* HCL Technologies Ltd. and HDFC Bank Ltd. also saw minor negative returns
* Sun Pharmaceutical Industries Ltd. continued to perform well with a positive
* return of 8.63%.
* The NIFTY50 index had a slight decline with a negative return of -0.60%

# *2. What was the weekly return of the stock on average?*

In [ ]:
# Convert the index to a DatetimeIndex
df.index = pd.to_datetime(df.index)

In [ ]:
# Convert the index to a DatetimeIndex
hcltech.index = pd.to_datetime(hcltech.index)

# Convert the index to a DatetimeIndex
sunpharma.index = pd.to_datetime(sunpharma.index)

# Convert the index to a DatetimeIndex
hdfcbank.index = pd.to_datetime(hdfcbank.index)

# Convert the index to a DatetimeIndex
dlf.index = pd.to_datetime(dlf.index)

# Convert the index to a DatetimeIndex
nifty50.index = pd.to_datetime(nifty50.index)

### *Filtering data for every Thursday (stock market end of week)*

In [ ]:
df_thurs = df[df.index.weekday == 3]
df_thurs

In [ ]:
hcltech_thurs = hcltech[hcltech.index.weekday == 3]
hcltech_thurs

In [ ]:
sunpharma_thurs = sunpharma[sunpharma.index.weekday == 3]
sunpharma_thurs

In [ ]:
hdfcbank_thurs = hdfcbank[hdfcbank.index.weekday == 3]
hdfcbank_thurs

In [ ]:
dlf_thurs = dlf[dlf.index.weekday == 3]
dlf_thurs

In [ ]:
nifty50_thurs = nifty50[nifty50.index.weekday == 3]
nifty50_thurs

**The below code is intended to calculate the weekly returns for each company in a list of DataFrames called company_list_week.** **Breakdown:**
1. Loop Over company_list_week:
The code starts a loop that iterates over each DataFrame in the company_list_week. Each DataFrame presumably contains financial data for a specific company.
2. Calculating Weekly Returns:
* within the loop, for each company, it calculates the weekly returns and stores them in a new column named 'Weekly Return' within that company's DataFrame.
* company['Adj Close'] accesses the 'Adj Close' column of the DataFrame. This column is typically used to represent the adjusted closing price of a company's stock.
* .pct_change() is a pandas function that calculates the percentage change between each element and the previous element in a Series (or DataFrame column). This operation effectively computes the weekly returns as the percentage change in the 'Adj Close' prices.

**So, after this loop completes, each DataFrame in company_list_week will have a new column named 'Weekly Return', which contains the weekly returns calculated as the percentage change in the 'Adj Close' prices. These returns represent the weekly investment performance of each company's stock.**

In [ ]:
company_list_week = [hcltech_thurs,sunpharma_thurs,hdfcbank_thurs,dlf_thurs,nifty50_thurs]

# We'll use pct_change to find the percent change for each week
for company in company_list_week:
    company['Weekly Return'] = company['Adj Close'].pct_change()

# Then we'll plot the daily return percentage
fig, axes = plt.subplots(nrows=5, ncols=1)
fig.set_figheight(25)
fig.set_figwidth(15)

hcltech_thurs['Weekly Return'].plot(ax=axes[0], legend=True, linestyle='--', marker='o')
axes[0].set_title('hcltech')

sunpharma_thurs['Weekly Return'].plot(ax=axes[1], legend=True, linestyle='--', marker='o')
axes[1].set_title('sunpharma')

hdfcbank_thurs['Weekly Return'].plot(ax=axes[2], legend=True, linestyle='--', marker='o')
axes[2].set_title('hdfcbank')

dlf_thurs['Weekly Return'].plot(ax=axes[3], legend=True, linestyle='--', marker='o')
axes[3].set_title('dlf')

nifty50_thurs['Weekly Return'].plot(ax=axes[4], legend=True, linestyle='--', marker='o')
axes[4].set_title('nifty50')

fig.tight_layout()

### Observations:
**These charts show us the distribution of weekly returns of these stocks:**

1. HCLTECH: The weekly data is mostly scattered in the range of -5% to 5%. Being a less volatile share, HCLTECH doesn't have any major weekly.
2. Sunpharma: This share is more volatile than HCLTECH as the data is mostly scattered in the range of -10% to 10% except for the Pandemic period. Being a Pharmaceutical company, it has shown good returns in the COVID-19 period.
3. HDFCBank: The weekly data is mostly scattered in the range of -5% to 5%. In 2019, the company declared a 30% growth in Y-O-Y Net Profit for F.Y. 2018, which lead to the sudden spike. Similarly, in the year 2021, the company reported 18% growth in Y-O-Y Net Profit for Q4 2020.
4. DLF: This share is more volatile as the data is mostly scattered in the range of -15% to 15%.
5. NIFTY50: Being an index of 50 different shares the return of NIFTY is balanced, making it less volatile.

**All the above have shown diversions from their behaviour During the COVID-19 Pandemic and Post Pandemic Market Recovery Time.**

In [ ]:
# Check for non-finite values in the data

non_finite_mask = ~np.isfinite(company['Weekly Return'])
if non_finite_mask.any():
    print(f"Non-finite values found: {company['Weekly Return'][non_finite_mask]}")

One recorded dated 01/04/2018 has a Non-Finite value. Replacing the same with mean

In [ ]:
# Replace non-finite values with the mean

mean_return = np.nanmean(company['Weekly Return'])
company.loc[non_finite_mask, 'Weekly Return'] = mean_return

### Now, let's get an overall look at the weekly return using a histogram. 

**We'll use seaborn to create both a histogram and kde plot on the same figure.**

In [ ]:
plt.figure(figsize=(15, 25))

for i, company in enumerate(company_list_week, 1):
    plt.subplot(5, 1, i)
    company['Weekly Return'].hist(bins=50)
    plt.xlabel('Weekly Return')
    plt.ylabel('Frequency')
    plt.title(f'{company_name[i - 1]}')
    
plt.tight_layout()

plt.savefig('Weekly return.png')
plt.show()

### Observation:
**The Frequency so plotted for the above data, tend more to the positive side rather than the negative and the outliers seen are mostly due to the COVID-19 Pandemic.**

**Reasons for other outliers, if any, have been stated in the above observations for scatter plot.**

# *3. What was the moving average of the various stocks?*

The moving average (MA) is a simple technical analysis tool that smooths out price data by creating a constantly updated average price. The average is taken over a specific period of time, like 10 days, 20 minutes, 30 weeks, or any time period the trader chooses.

**This code utilizes nested loops and the Pandas library to calculate moving averages (MAs) for a list of specified moving average days (ma_days) for a list of companies (company_list).**

**Breakdown:**

1. Outer Loop (for ma in ma_days):
This loop iterates over a list of moving average day values (ma_days), where each value represents the number of days to use for calculating the moving average.
2. Inner Loop (for company in company_list):
Inside the outer loop, there is an inner loop that iterates over a list of company dataframes (company_list). Each dataframe represents data for a specific company.
3. Creating Column Names:
Within the inner loop, a string variable column_name is created using f-strings. This string represents the name of the column that will store the moving average for the current company and the current moving average period (specified by ma).
4. Calculating Moving Averages:
The code then calculates the moving average for the 'Adj Close' column of the current company's dataframe using the rolling() method with a window size of ma days. This rolling mean is calculated for each row in the dataframe.
5. Assigning the Moving Averages to Columns:
The calculated moving average values are assigned to a new column in the current company's dataframe. This new column is named based on the column_name created earlier, which includes the specific moving average period.
**So, for each company in the company_list, this code calculates and assigns moving averages for each of the specified ma_days, resulting in additional columns in each company's dataframe that contain the moving average values for different time periods.**

**Also, the results fetched are being displayed in the form of graph for each company/index separately**

In [ ]:
ma_days = [50, 120, 200]

for ma in ma_days:
    for company in company_list:
        column_name = f"MA for {ma} days"
        company[column_name] = company['Adj Close'].rolling(ma).mean()
        

fig, axes = plt.subplots(nrows=5, ncols=1)
fig.set_figheight(25)
fig.set_figwidth(15)

hcltech[['Adj Close', 'MA for 50 days', 'MA for 120 days', 'MA for 200 days']].plot(ax=axes[0])
axes[0].set_title('hcltech')

sunpharma[['Adj Close', 'MA for 50 days', 'MA for 120 days', 'MA for 200 days']].plot(ax=axes[1])
axes[1].set_title('sunpharma')

hdfcbank[['Adj Close', 'MA for 50 days', 'MA for 120 days', 'MA for 200 days']].plot(ax=axes[2])
axes[2].set_title('hdfcbank')

dlf[['Adj Close', 'MA for 50 days', 'MA for 120 days', 'MA for 200 days']].plot(ax=axes[3])
axes[3].set_title('dlf')

nifty50[['Adj Close', 'MA for 50 days', 'MA for 120 days', 'MA for 200 days']].plot(ax=axes[4])
axes[4].set_title('nifty50')

plt.savefig('moving average of the various stocks.png')

fig.tight_layout()

### Comment:
Moving averages are used to smooth out the price data and identify trends. They can also be used to identify support and resistance levels.

Support is a price level where the price is likely to find buyers. Resistance is a price level where the price is likely to find sellers.

**50-day moving average (50DMA):**
The 50-day moving average (50DMA) is calculated by taking the average of a stock's closing prices over the past 50 trading days. It provides a short- to medium-term view of price trends. Traders and investors use the 50DMA to identify short- to medium-term trends and potential support and resistance levels. When the stock price is above the 50DMA, it suggests that the stock is in an uptrend. Conversely, when the price is below the 50DMA, it suggests a downtrend

**120-day moving average (120DMA):**
The 120-day moving average (120DMA) is calculated using the average of closing prices over the past 120 trading days. It provides a longer-term view compared to the 50DMA. The 120DMA is often used by medium- to long-term investors to identify longer-term trends and to help filter out short-term price fluctuations. Similar to the 50DMA, the relationship between the stock price and the 120DMA can indicate trend direction and potential support and resistance levels.

**200-day moving average (200DMA):**
The 200-day moving average (200DMA) is one of the most widely followed moving averages. It calculates the average closing price over the past 200 trading days. The 200DMA provides a long-term perspective and is often used to gauge the overall health of a stock or market index. When the stock price is above the 200DMA, it generally suggests a bullish trend, and when it's below, it indicates a bearish trend.

**Inference:**
* HCLTech has been the strongest performer, followed by HDFC Bank.
* HCLTech and HDFC Bank are both trading below their 50-day and 120-day moving averages, which suggests that they may be due for a pullback.
* Sun Pharma is trading above its 200-day moving average, but below its 50-day & 120-day moving average.
* Nifty 50 is trading below its 50-day, 120-day, and 200-day moving averages.

# 4. What was the correlation between different stocks closing prices?


Correlation is a statistic that measures the degree to which two variables move in relation to each other which has a value that must fall between -1.0 and +1.0. Correlation measures association, but doesn’t show if x causes y or vice versa — or if the association is caused by a third factor.

**Now, we want to analyze the returns of all the stocks in our listwith all the ['Adj Close'] columns for each of the stocks dataframes.**

In [ ]:
df

In [ ]:
# Calculate the percentage change in 'Adj Close' for each 'Company/Index Name'
df['Percent Change'] = df.groupby('Company/Index Name')['Adj Close'].pct_change()

# Pivot the DataFrame to show the result in separate columns for each 'Company/Index Name'
result_df = df.pivot(columns='Company/Index Name', values='Percent Change')

# Display the first few rows of the result DataFrame
result_df.head()

**Now, we can compare the weekly percentage return of two stocks to check how correlated. First let's see a stock compared to itself**

In [ ]:
# Comparing "NIFTY50" to itself should show a perfectly linear relationship
sns.jointplot(x='NIFTY50', y='NIFTY50', data=result_df, kind='scatter', color='seagreen')

In [ ]:
# We'll use joinplot to compare the daily returns of "HCL Technologies Ltd." and "NIFTY50"
sns.jointplot(x='HCL Technologies Ltd.', y='NIFTY50', data=result_df, kind='scatter')

**So now, we can see that if two stocks are perfectly (and positivley) correlated with each other a linear relationship bewteen its weekly return values should occur.**

In [ ]:
# Calling pairplot on our DataFrame for an automatic visual analysis of all the comparisons
sns.pairplot(result_df, kind='reg')

# Set the font size for X and Y-axis titles
plt.rcParams['axes.labelsize'] = 8 

plt.savefig('pairplot between companies.png')

# Display the plot
plt.show()

### **Observations:**
Above we can see all the relationships on daily returns between all the stocks. A quick glance shows an interesting correlation between NIFTY50 and HDFC Bank Ltd. weekly returns. This relation exists because HDFC Bank Ltd. is one of the major contributors in NIFTY50 Index.

**It might be interesting to investigate that individual comparison.**

### To get actual numerical values for the correlation between the stocks' weekly return values, we do a correlation plot. By comparing the Adjusted closing prices, we can see interesting relationship between different stocks.

### Plotting the above Numerical Values in a HeatMap

In [ ]:
plt.figure(figsize=(12, 10))

plt.subplot(2, 2, 1)
sns.heatmap(result_df.corr(), annot=True, cmap='Blues')
plt.title('Correlation of stock Weekly return')

    
plt.savefig('correlation between companies.png')

### Observations:

**Investors use the correlation of stocks to measure the risk of their portfolio and to diversify their investments.**

In other words, investors want to know how much the price of one stock will move in relation to the price of another stock. If the two stocks are highly correlated, then they will move in the same direction, which means that the investor's portfolio will be more risky. However, if the two stocks are not correlated, then they will move in different directions, which can help to reduce the risk of the portfolio.

* **DLF Ltd : It is less aligned with movement in Sun Pharma and HCL but it is moving in direction with NIFTY 50.**

* **HCL TECH: It is not majorly effected with change in any of the stocks selected apart from NIFTY 50.**

* **HDFC BANK: HDFC Bank have major impact on movement of NIFTY 50 as it has more weightage in Index than any other stock.**

* **NIFTY50: It gets influenced by the weightage of individual shares, with HDFC Bank and DLF exhibiting stronger correlations.**

* **Sun Pharma: It is not much correlated with any of another stock as it does show major unidirectional change with other shares, HDFC and HCL have adverse effect on this stock price most of the time.**

# 5. *How much value do we put at risk by investing in a particular stock?*

In [ ]:
rets = result_df.dropna() # result_df is the dataframe of daily percentange change of 'Adj Close' of all stocks

area = np.pi * 20

plt.figure(figsize=(10, 8))
plt.scatter(rets.mean(), rets.std(), s=area)
plt.xlabel('Expected return')
plt.ylabel('Risk')

for label, x, y in zip(rets.columns, rets.mean(), rets.std()):
    plt.annotate(label, xy=(x, y), xytext=(50, 50), textcoords='offset points', ha='right', va='bottom', 
                 arrowprops=dict(arrowstyle='->', color='red', connectionstyle='arc3,rad=0.3'))
    
plt.savefig('Risk By investing in a particular stock.png')

### Inference:
**It is usually said that "Lower the risk, Lower the return and Higher the risk, Higher the return", but from the above graph we can see that HCL Technologies Ltd. is defying the quote and with medium risk is providing the highest return**

**DLF here is most riskiest stock as it has a daily risk of 2.8% movement in stock, it indicates that the stock is more volatile even in long term, but it is also having good returns.**

**On the other hand, SunPharma and HDFC have less risk and safer returns as compared to HCL and DLF. These are more beneficial for risk averting investors**